.new-sales-total{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color:  cornflowerblue;
    margin-left: 35rem;
    margin-right: 35rem;
    border-radius: 12px;
    margin-bottom: 1rem;
}
.new-sales-ind label{
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 12rem;
    padding: 0.5rem;
    text-align: center;
}
.new-sales-ind input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    padding: 0.8rem;
    margin-right: 20rem;
    margin-left: 12rem;
}
.actions{
    align-content: center;
    padding: 0.6em 1rem;
    font-size: 1.25rem;
    margin-left: 19rem;
    margin-right: 11rem;
    margin-top: 0rem;
}
.actions button{
    display: block;
    align-content: center;
    padding: 0.6em 1rem;
    box-shadow: 0 2px 8px black;
    font-size: 1rem;
    background-color: rgb(120, 216, 240);
    border-radius: 12px;
}
.new-sales-ind1{
    margin-top: 1.5rem;
}
.new-sales-ind2{
    margin-top: 1.5rem;
}
.new-sales-ind3{
    margin-top: 1.5rem;
}