.chart{
    margin-top: 2.5rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: cornflowerblue;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 13rem;
    width: 80%;
    align-items: center;
    margin-left: 10rem;
}