.chart-bar{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chart-bar-inner{
    height: 100%;
    width: 70%;
    border: 1px solid #313131;
    border-radius: 12px;
    background-color: #94c3f0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.chart-bar-fill{
    background-color: #0084ff;
    width: 100%;
    transition: all 0.3s ease-out;
}
.chart-bar-label{
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}