.sold-date{
    margin-right: 25rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    width: 5.8rem;
    height: 5.8rem;
    border: 1px solid;
    background-color: #6775c4;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.sold-month{
    font-size: 0.90rem;
    font-weight: bold;
}
.sold-year{
    font-size: 0.90rem;
}
.sold-day{
    font-size: 1.75rem;
    font-weight: bold;
}