.sold-bike{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: cornflowerblue;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
}
.sold-bike_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column-reverse;
    flex: 1;
}
.sold-bike h2{
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
}
.sold-bike_price{
    font-size: 1rem;
    background-color: rgb(120, 216, 240);
    border-radius: 12px;
    box-shadow: 0 2px 8px black;
}
.sold-bike_name{
    flex-direction: row;
    align-content: center;
    flex: 1;
}
.sold-bike_name h2{
    font-size: 1.8rem;
    align-items: center;
}
.sold-bike_price{
    font-size: 1.25rem;
    padding: 1.0rem 2.5rem;
    margin-right: 4rem;
}
